.transfer {
  .status {
    display: grid;
    justify-content: center;
    gap: 10px;

    h1 {
      text-align: center;
    }

    .items {
      display: grid;
      justify-content: center;
      gap: 10px;

      .search {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        @media (max-width: 767px) {
          gap: 0;
        }

        .filter {
          background-color: var(--bg-color);
          padding: 10px 0;
          z-index: 9;

          label {
            font-size: medium;
            margin-right: 10px;
          }

          select {
            border: 2px solid var(--shadow-color);
            border-radius: 8px;
            font-size: medium;
            padding: 5px;
            color: var(--text-color);
            background-color: var(--hover-color);
          }
        }
      }

      .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        .none {
          text-align: center;
        }

        .card {
          position: relative;
          padding: 10px;
          display: grid;
          gap: 10px;
          background-color: var(--hover-color);
          border-radius: 8px;
          border: 2px solid var(--shadow-color);
          box-sizing: border-box;
          width: 100%;

          @media (max-width: 767px) {
            flex: 0 0 calc(100% - 10px);
          }

          h3 {
            color: var(--accent-color);
          }

          .grid {
            display: grid;
            gap: 10px;

            div {
              h5:first-of-type {
                opacity: 0.6;
              }
            }

            ul {
              margin: 0;
              padding-inline-start: 20px;

              li {
                font-size: 0.83em;
              }
            }

            .info {
              border-top: 1px solid var(--accent-color);
            }
          }
        }
      }
    }
  }
}
